.navbar {
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
  color:  #588157;
  background-color: aliceblue;
  padding: 5px 5px;
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

.nav-links {
  list-style: none;
  display: flex; 
  gap: 20px; 
  padding: 0;
  margin: 40px;
}

.nav-links li a {
    color:  #588157;
    text-decoration: none;
    font-size: 18px;
    padding: 8px 12px;
    transition: 0.3s;
  }
  
.nav-links li a:hover {
    background-color: #ccd5ae;
    border-radius: 20px;
  }