#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

body {
  background-image: url('./assets/eye1.jpg'); /* Path to your image */
  background-size: cover; /* Ensures the image covers the entire screen */
  background-position: center center; /* Centers the image */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  height: 100vh; /* Makes the body take up the full height of the viewport */
  /* opacity: 0.5; Adjust opacity to make the image slightly transparent */
  margin: 200px 0px 0px 0px; /* Removes any default margin */
}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.website-name {
  color: #588157
}

.content {
  background-color: white;
  height: 500px;
  width: 1000px;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
  

}

.modal {
  place-items: center;

}